.App {
    background-color: #282c34;
    min-height: 97vh;
    display: flex;
    padding: 10px;
}

.Content {
    color: white;
}

.valueHtml {
    display: inline;
    color: green;
}

.Li {
    margin-top: 10px;
    margin-bottom: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
